.App {
  text-align: center;
  padding: 20px;
  margin: -8px;
}

h1 {
  margin-bottom: 20px;
}

.center{
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.search-container input::placeholder {
  color: #999;
}

.search-container input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movies-container,
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
  padding: 13px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
  transform: perspective(500px) rotateY(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.movie-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  transform: perspective(500px) rotateY(-10deg);
}


.movie-item .star {
  position: absolute;
  top: 0;
  right: -12px;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff00;
}

.movie-item .star:hover {
  cursor: pointer;
  font-size: 27px;
  transition: 0.3s ease;
}

.movie-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.movie-item img {
  width: 150px;
  height: 225px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.movie-item h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.movie-item p {
  margin: 0;
  color: #777;
  font-size: 14px;
}

button {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .movie-item {
    width: 100%;
  }
}

.theme-change-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.theme-change-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #504e4e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.theme-change-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.theme-change-button.light {
  background-color: #fff;
}

.theme-change-button.dark {
  background-color: #000;
  color: #fff;
}

.theme-change-button.light::before,
.theme-change-button.light::after,
.theme-change-button.dark::before,
.theme-change-button.dark::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.theme-change-button.light::before,
.theme-change-button.light::after {
  transition: opacity 0.3s ease;
}

.theme-change-button.dark::before,
.theme-change-button.dark::after {
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.theme-change-button.light::before {
  top: 4px;
  left: 8px;
}

.theme-change-button.light::after {
  bottom: 4px;
  right: 8px;
}

.theme-change-button.dark::before {
  top: 8px;
  left: 4px;
}

.theme-change-button.dark::after {
  bottom: 8px;
  right: 4px;
}

.theme-change-button.light:hover::before,
.theme-change-button.light:hover::after,
.theme-change-button.dark:hover::before,
.theme-change-button.dark:hover::after {
  opacity: 1;
}

.theme-change-button.light.animate::before,
.theme-change-button.light.animate::after {
  animation: blink 1s infinite alternate;
}

.theme-change-button.dark.animate::before,
.theme-change-button.dark.animate::after {
  animation: blink 1s infinite alternate-reverse;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.light {
  background-color: #f9f9f9;
  color: #333;
}

.light .movies-container,
.light .favorites-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.light .movie-item {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.light .movie-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.light .theme-change-button {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: #222;
  color: #fff;
}

.dark .movies-container,
.dark .favorites-container {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark .movie-item {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark .movie-item:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark .theme-change-button {
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}
